<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet" />
    <link async rel="stylesheet" href="https://storage.ko-fi.com/cdn/fontawesome/fa-6.2/css/all.min.css?v=6"
        crossorigin="anonymous" />
</head>

<body>
    <div class="container">
        <p style="font-size: large"><strong>Log In</strong></p>
        <div class="text-center sign-in">
            <div class="general">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                    </div>
                    <button type="submit"
                        style="background: rgb(252, 96, 99); width: 100%; border-radius: 18px; color: white; font-weight: bold;"
                        class="btn">
                        Log In
                    </button>
                    <br />
                    <p style="color: #777; font-weight: 500; margin: 10px 0; text-align: right; cursor: pointer">
                        Forgot password ?
                    </p>
                    <p style="color: #abafb4">or log in with</p>
                </form>
                <div style="display: flex; flex-direction: column">
                    <button class="login-with-btns">
                        <i class="fa-brands fa-twitter" style="color: #1da1f2;"></i>
                        Twitter
                    </button>
                    <button class="login-with-btns" style="margin: 10px 0">
                        <i class="fa-brands fa-google" style="color: #ea483a;"></i>
                        Google
                    </button>
                    <button class="login-with-btns">
                        <i class="fa-brands fa-facebook" style="color: #1078ff;"></i>
                        Facebook
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>