<p>
    <mat-toolbar style="padding-right: 5%; padding-left: 5%;">
        <img routerLink="/" src="./assets/images/Kofi_Logo_Blue.svg" alt="logo" width="90" height="80"
            style="margin-right: 10px; cursor: pointer;" />

        <div class="spacer"></div>

        <div class="items-toolbar">
            <a class="item" routerLink="/explore">Explore</a>
            <a class="item">About</a>
            <a class="item">Gold</a>
            <a class="item">Blog</a>
            <a class="item" routerLink="/login">Log In</a>
        </div>
        <a class="signUp-btn" routerLink="/register">Sign up free</a>
    </mat-toolbar>
</p>