<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand:400,700"
      rel="stylesheet"
    />
    <link
      async
      rel="stylesheet"
      href="https://storage.ko-fi.com/cdn/fontawesome/fa-6.2/css/all.min.css?v=6"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="text-center logo-kofi">
      <a href="/"
        ><img
          alt="Ko-fi Logo"
          class="logo-default"
          height="38"
          src="./assets/images/kofi-logo-signup.jpeg"
        />
      </a>
    </div>
    <div class="text-center planningCard">
      <h2 style="font-weight: bold; font-family: nunito, sans-serif">
        How Are you planning to earn on Ko-fi?
      </h2>
      <div class="selector-wrapper cursor-pointer">
        <input
          style="padding-right: 20px"
          class="test form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault1"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Receive donations or tips</label
        >
      </div>
      <div class="selector-wrapper cursor-pointer">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault2"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Build monthly membership income</label
        >
      </div>
      <div class="selector-wrapper cursor-pointer checkbox-success">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault3"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Sell products (physical or digital)</label
        >
      </div>
      <div class="selector-wrapper cursor-pointer">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault4"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Offer commissions or services</label
        >
      </div>
      <a
        href="#"
        class="btn-fullwidth btn kfds-c-btn-primary upload-result kfds-lyt-width-100 kfds-srf-rounded kfds-btm-mrgn-16 kfds-font-bold"
        >Continue</a
      >
    </div>
  </body>
</html>
