<div style="height: 100vh; position: relative;" class="home-container">
    <div class="hero-content">
        <h1 class="title">
            Everything you need to make <br> money doing what you love
        </h1>
        <p style="color: #9b9fa5; font-size: 20px; margin: 20px 0;">
            Join 1M+ creators getting donations, memberships and sales from fans!
        </p>
        <form class="form-claim" style="font-weight: bold;">
            <div>
                <span>Ko-fi.com/</span>
                <input type="text" placeholder="yourname"
                    style="border: none; outline: none; width: 200px; font-size: 18px; color: #9b9fa5; margin-left: 5px" />
                <button class="claim-btn">Claim</button>
            </div>
        </form>
        <p style="color: #9b9fa5; font-size: 20px; margin: 20px 0;">$6 million earned on Ko-fi last month!</p>
    </div>
</div>