<div class="account-type">
    <div style="text-align: center">
        <img src="./assets/images/kofi-logo-signup.jpeg" alt="Ko-fi Logo" height="38" />
    </div>

    <div class="define-account-type">
        <h3>I'm here to...</h3>

        <button class="btn-box">
            <div class="btn-box-div">
                <div style="text-align: start;">
                    <span><b>Make money on Ko-fi</b></span>
                    <p style="color: #ccc;">as a creator or fundraiser</p>
                </div>

                <!-- set icon here -->
                <div>
                    <i class="fa-solid fa-greater-than"></i>
                </div>
            </div>
        </button>

        <button class="btn-box">
            <div class="btn-box-div">
                <div style="text-align: start;">
                    <span><b>Support others</b></span>
                    <p style="color: #ccc;">to help creators do what they love</p>
                </div>

                <!-- set icon here -->
                <div>
                    <i class="fa-solid fa-greater-than"></i>

                </div>
            </div>
        </button>

    </div>

    <div class="note-div">
        <span style="font-size: 32px;">💡</span>
        <div style="border-left: 1px solid #94989f; padding: 10px;">
            <p style="color: #94989f">
                Everyone can give support <br> and you can change your <br> account type at any time.
            </p>
        </div>
    </div>

</div>